[Desktop Entry]
Name=Visual Studio Code Blur
Comment=Code Editing. Refined.
GenericName=Text Editor
#Exec=/opt/visual-studio-code/code --no-sandbox --unity-launch %F
Exec=/home/sergioribera/blur.sh "code" "code" 3
Icon=visual-studio-code
Type=Application
StartupNotify=false
StartupWMClass=code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
#Exec=/opt/visual-studio-code/code --no-sandbox --new-window %F
Exec=/home/sergioribera/blur.sh "code" "code" 3
Icon=visual-studio-code
