.power-section {
	button {
		background-color: $darker-background;
		color: $background-primary;
		border: 3px solid $background-primary;
		border-radius: 10px;
		font-family: "Material Icons";
		font-size: 24px;

		margin: 0em .5em;
	}

	.shutdown-btn {
		color: $red;
		padding: .25em .70em .25em .50em;
		&:hover {
			border-color: $red;
		}
	}
	.reboot-btn {
		color: $green;
		padding: .25em .80em .25em .50em;
		&:hover {
			border-color: $green;
		}
	}
	.lock-btn {
		color: $magenta;
		padding: .25em .75em .25em .50em;
		&:hover {
			border-color: $magenta;
		}
	}
}
