.sidebar {
    background-color: $darker-background;

	.time {
		// font-family: "Sarasa Mono CL Nerd Font";
		font-weight: bold;
		font-size: 5em;
		color: #fff;
		margin-top: .5em;
	}

	.date {
		// font-family: "Sarasa Mono CL Nerd Font";
		font-size: 1em;
		color: #fff;
		margin-top: .5em;
	}

	.mp-revealer {
		.music-player {
			background-color: $darker-background;
			padding: 1em;
			min-height: 158px;
			border-radius: 10px;
			font-family: "DM Sans", "Sarasa Mono CL Nerd Font";

			.song-art {
				background-color: $darker-background;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 6px;

				margin-right: 5px;
				margin-left: 1px;
				min-width: 23em;

				.music-info {
					border-radius: 4px 6px 6px 4px;
					background: linear-gradient(to right, rgba(16, 20, 21, 1), rgba(16, 20, 21, 0.5));

					padding-top: 10px;

					.now-playing {
						margin-bottom: 6px;
					    padding-left: 1em;
					}
					.song-title {
						font-size: 16px;
						font-weight: bolder;
					    padding-left: 1em;
					}
					.song-artist, .song-position {
						color: $foreground-secondary;
					    padding-left: 1em;
					}
					.song-position {
						margin-top: 5em;
						margin-bottom: .2em;
					    padding-left: 1em;
					}
					.song-progress {
					    trough {
					        background-color: #ccc;
					        progress {
					           background-color: #fff;
							}
						}
					}
				}
			}

			.song-controls {
				background-color: $background-secondary;
				padding: 0em 1em;
				margin-left: 10px;
				border-radius: 5px;

				button {
					font-family: "Material Icons";
					font-size: 24px;

					&:hover {
						color: $accent;
					}

					&:nth-child(2) {
						font-size: 26px;
					}
				}
			}
		}
	}
}

@import "./sections/profile";
@import "./sections/power";
// @import "./sections/control-center";
// @import "./rows/third-row";
