/* Confirm Dialog */


* {
  blue:       #6eaafb;
  spacing: 0;
  background-color: transparent;

  font: "Knack Nerd Font 14";
  text-color: @text;
}

window {
    width:      			225px;
    padding:    			25px;
    border:					1px;
    border-radius:          0px;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
}
