[Unit]
Description=Wallpaper
Documentation=man:feh(1)

[Service]
Type=oneshot
RemainAfterExit=true
; I need to figure out how to translate ~/.fehbg to variables
;ExecStartPre=/bin/true
ExecStart=/usr/bin/feh $FEHBG
WorkingDirectory=~/Pictures/Backgrounds
EnvironmentFile=/home/s4rch/.config/fehbg.conf

[Install]
WantedBy=xinitrc.target
