[Unit]
Description=Launch apps use in work only if not holiday
# After=systemd-user-sessions.service,systemd-journald.service

[Service]
Type=simple
ExecStart=%h/.config/scripts/init-workapps.sh start %U
ExecStop=%h/.config/scripts/init-workapps.sh end %U
Restart=always
RemainAfterExit=yes
Environment="DISPLAY=:0" "XAUTHORITY=%h/.Xauthority"

[Install]
WantedBy=multi-user.target
